.titleContainer {
  position: relative;
  height: 120px;
  opacity: 0;
  transition: opacity 1s ease;
}

.mainImg {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: 0% 34%;
  opacity: 0.55;
}

.appear {
  opacity: 1;
}

.mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--col2);
  font-size: 32px;
  text-align: center;
  padding: 0 30px;
  width: 70%;
}

@media (max-width: 767px) {

  .titleContainer,
  .mainImg {
    height: 94px;
  }

  .mainTitle {
    font-size: 20px;
    width: 80%;
  }
}