.mainImg {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: 0% 27%;
  opacity: 0.7;
}

.titleContainer {
  position: relative;
  height: 120px;
  opacity: 0;
  transition: opacity 1s ease;
}

.appear {
  opacity: 1;
}

.mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--col2);
  font-size: 32px;
  text-align: center;
  padding: 0 30px;
  width: 70%;
}

.infoContainer {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  overflow-x: hidden;
}

.item {
  display: flex;
  border-radius: 30px;
  height: 275px;
  width: 440px;
  overflow: hidden;
  justify-content: center;
  opacity: 0;
  transform: translateX(0);
  transition: transform 1800ms ease, opacity 1800ms ease;
  will-change: transform, opacity;
}

.item:nth-child(odd) {
  transform: translateX(-200px);
}

.item:nth-child(even) {
  transform: translateX(200px);
}

.enter {
  opacity: 1;
  transform: translateX(0) !important;
}

.item:nth-child(1) {
  transition-delay: 80ms;
}

.item:nth-child(2) {
  transition-delay: 160ms;
}

.item:nth-child(3) {
  transition-delay: 240ms;
}

.item:nth-child(4) {
  transition-delay: 320ms;
}

.home1,
.home2 {
  height: 100%;
  width: 45%;
  object-fit: cover;
}

.home1 {
  object-position: 35%;
}

.home2 {
  object-position: 65% 0;
}

.textContainer1,
.textContainer2 {
  background-color: white;
  height: calc(100% - 60px);
  width: 55%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.itemTitle {
  color: var(--col3);
  margin-top: 0;
}

.itemText {
  color: var(--col2);
  font-weight: 500;
  margin: 0;
}

@media (max-width:767px) {
  .infoContainer {
    grid-template-columns: 1fr;
    padding: 40px 0px;
  }

  .item {
    width: 80%;
    height: 160px;
    border-radius: 20px;
  }

  .itemTitle {
    font-size: 14px;
  }

  .itemText {
    font-size: 12px;
  }

  .titleContainer,
  .mainImg {
    height: 94px;
  }

  .mainTitle {
    font-size: 20px;
    width: 80%;
  }
}