.splash {
  position: fixed;
  inset: 0;
  z-index: 999999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.logo {
  width: 360px;
  animation: pop 0.6s ease-out forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .logo {
    width: 160px;
  }
}