.main {
  display: flex;
  flex-direction: row;
  padding: 30px 110px;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: var(--back2);
  padding: 40px 40px 25px 40px;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(116, 156, 157, 0.75);
  gap: 10px;
  width: 40%;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--col3);
}

h3,
.inlineText {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--col2);
}

.inlineLink {
  color: var(--col2);
  text-decoration: underline;
}

.mapContainer {
  opacity: 0;
  transition: opacity 1s ease;
  padding: 0 130px 30px 130px;
}

.appear {
  opacity: 1;
}