.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 30px 110px;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: var(--col5);
  padding: 40px 40px 25px 40px;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(116, 156, 157, 0.75);
  gap: 10px;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--col3);
}

h3,
.inlineText {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--col2);
}

.inlineLink {
  color: var(--col2);
  text-decoration: underline;
}

.mapContainer {
  opacity: 0;
  transition: opacity 1s ease;
  padding: 0 130px 30px 130px;
}

.appear {
  opacity: 1;
}

@media (max-width: 767px) {
  .main {
    grid-template-columns: 1fr;
    padding: 0px 15px;
  }

  .info {
    margin: 0px 10px;
    padding: 25px;
    border-radius: 25px;
    gap: 6px;
  }

  h2 {
    font-size: 22px;
  }

  h3,
  .inlineText {
    font-size: 16px;
    font-weight: 500;
  }

  .mapContainer {
    padding: 30px 50px 20px 50px;
  }
}