.mainImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 0% 27%;
  opacity: 0.75;
  display: block;
}

.titleContainer {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* perfect centering */
  margin: 0;
  color: var(--btext);
  font-size: 2rem;
  /* adjust as needed */
  text-align: center;
  padding: 0 1rem;
}

.home1 {
  height: 200px;
}

.home2 {
  height: 200px;
}