.displayContainer {
  display: flex;
  justify-content: center;
  padding: 40px 200px;
}

.formContainer {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.invitation {
  color: var(--col2);
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px;
}

label {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding: 4px;
}

label p {
  font-size: 14px;
  margin-top: 10px;
}

input {
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--col5);
}