.container {
  position: relative;
  height: 120px;
}

.contactImg {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: 0% 30%;
  opacity: 0.40;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 480px;
  align-items: center;
}

.redirects {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--col3);
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.item {
  margin-bottom: 4px;
  text-decoration: none;
  color: var(--col1);
  transition: transform 0.25s ease;
}

.item:hover {
  transform: translateY(-1.5px);
  color: var(--col3);
  text-decoration: underline;
}

.button {
  background-color: var(--col3);
  padding: 10px 26px;
  border-radius: 50px;
  font-size: 23px;
  font-weight: 700;
  color: var(--wtext);
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .wrapper {
    width: 80.5%;
    gap: 0;
    justify-content: space-between;
  }

  .redirects {
    gap: 2px;
  }

  .title {
    font-size: 14px;
    text-align: center;
  }

  .item {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .button {
    font-size: 15px;
    padding: 5px 8px;
  }

  .container,
  .mainImg,
  .contactImg {
    height: 94px;
  }
}